<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on

  # skip this entire section if not requested .html
  RewriteRule !\.html$ - [S=30]
  # if there are caps, set HASCAPS to true and skip next rule
  RewriteRule [A-Z] - [E=HASCAPS:TRUE,S=1]
  # skip this entire section if no uppercase letters in requested URL
  RewriteRule ![A-Z] - [S=28]
  RewriteRule ^([^A]*)A(.*)$ $1a$2
  RewriteRule ^([^B]*)B(.*)$ $1b$2
  RewriteRule ^([^C]*)C(.*)$ $1c$2
  RewriteRule ^([^D]*)D(.*)$ $1d$2
  RewriteRule ^([^E]*)E(.*)$ $1e$2
  RewriteRule ^([^F]*)F(.*)$ $1f$2
  RewriteRule ^([^G]*)G(.*)$ $1g$2
  RewriteRule ^([^H]*)H(.*)$ $1h$2
  RewriteRule ^([^I]*)I(.*)$ $1i$2
  RewriteRule ^([^J]*)J(.*)$ $1j$2
  RewriteRule ^([^K]*)K(.*)$ $1k$2
  RewriteRule ^([^L]*)L(.*)$ $1l$2
  RewriteRule ^([^M]*)M(.*)$ $1m$2
  RewriteRule ^([^N]*)N(.*)$ $1n$2
  RewriteRule ^([^O]*)O(.*)$ $1o$2
  RewriteRule ^([^P]*)P(.*)$ $1p$2
  RewriteRule ^([^Q]*)Q(.*)$ $1q$2
  RewriteRule ^([^R]*)R(.*)$ $1r$2
  RewriteRule ^([^S]*)S(.*)$ $1s$2
  RewriteRule ^([^T]*)T(.*)$ $1t$2
  RewriteRule ^([^U]*)U(.*)$ $1u$2
  RewriteRule ^([^V]*)V(.*)$ $1v$2
  RewriteRule ^([^W]*)W(.*)$ $1w$2
  RewriteRule ^([^X]*)X(.*)$ $1x$2
  RewriteRule ^([^Y]*)Y(.*)$ $1y$2
  RewriteRule ^([^Z]*)Z(.*)$ $1z$2
  RewriteRule [A-Z] - [N]
  RewriteCond %{ENV:HASCAPS} TRUE
  RewriteRule ^/?(.*) /$1 [R=301,L]
  </IfModule>


<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_USER_AGENT} googlebot|bingbot|yandex|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest\/0\.|pinterestbot|slackbot|vkShare|W3C_Validator|whatsapp|redditbot|applebot|flipboard|tumblr|bitlybot|skypeuripreview|nuzzel|discordbot|google\ page\ speed|qwantify|bitrix\ link\ preview|xing-contenttabreceiver|google-inspectiontool|chrome-lighthouse|telegrambot [NC]
  RewriteCond %{REQUEST_URI} !\.(html|css|js|less|jpg|png|gif|svg|woff2)$

  RewriteRule ^(.*)$ $1.html [QSA]
</IfModule>


<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{HTTP_ACCEPT} text/html
  RewriteRule . /index.html [L]
</IfModule>