<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>


<IfModule mod_rewrite.c>
  RewriteEngine On

  # redirect www to non-www
  RewriteCond %{HTTP_HOST} ^www\.mokapi\.io$ [NC]
  RewriteRule ^(.*)$ https://mokapi.io/$1 [R=301,L]

  # redirect http to https
  RewriteCond %{SERVER_PORT} !^443$
  RewriteRule (.+) https://%{HTTP_HOST}/$1 [L,R]

  # Redirect exactly /docs/examples to /docs/resources
  RewriteRule ^docs/examples/?$ /docs/resources [R=301,L]

  # Redirect anything under /docs/examples/ to /docs/resources/
  RewriteRule ^docs/examples/(.*)$ /docs/resources/$1 [R=301,L]

  # Redirect exactly /docs/blogs to /docs/resources
  RewriteRule ^docs/blogs/?$ /docs/resources/blogs [R=301,L]

  # Redirect anything under /docs/blogs/ to /docs/resources/blogs/
  RewriteRule ^docs/blogs/(.*)$ /docs/resources/blogs/$1 [R=301,L]

  # rewrite for bots if tailing /
  RewriteCond %{HTTP_USER_AGENT} googlebot|bingbot|Seobility|AhrefsBot|yandex|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest\/0\.|pinterestbot|slackbot|vkShare|W3C_Validator|whatsapp|redditbot|applebot|flipboard|tumblr|bitlybot|skypeuripreview|nuzzel|discordbot|google\ page\ speed|qwantify|bitrix\ link\ preview|xing-contenttabreceiver|google-inspectiontool|chrome-lighthouse|telegrambot [NC]
  RewriteCond %{REQUEST_URI} !\.(html|css|js|less|jpg|png|gif|svg|woff2|xml)$
  RewriteCond %{REQUEST_FILENAME} !^$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} -d
  # Rewrite /about/ → /about/index.html
  RewriteRule ^(.+)/$ $1/index.html [L]

  # rewrite for bots
  RewriteCond %{HTTP_USER_AGENT} googlebot|bingbot|Seobility|AhrefsBot|yandex|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest\/0\.|pinterestbot|slackbot|vkShare|W3C_Validator|whatsapp|redditbot|applebot|flipboard|tumblr|bitlybot|skypeuripreview|nuzzel|discordbot|google\ page\ speed|qwantify|bitrix\ link\ preview|xing-contenttabreceiver|google-inspectiontool|chrome-lighthouse|telegrambot [NC]
  RewriteCond %{REQUEST_URI} !\.(html|css|js|less|jpg|png|gif|svg|woff2|xml)$
  RewriteCond %{REQUEST_FILENAME} !^$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.+)$ $1.html [L]

  # rewrite for bots
  RewriteCond %{HTTP_USER_AGENT} googlebot|bingbot|Seobility|AhrefsBot|yandex|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest\/0\.|pinterestbot|slackbot|vkShare|W3C_Validator|whatsapp|redditbot|applebot|flipboard|tumblr|bitlybot|skypeuripreview|nuzzel|discordbot|google\ page\ speed|qwantify|bitrix\ link\ preview|xing-contenttabreceiver|google-inspectiontool|chrome-lighthouse|telegrambot [NC]
  RewriteRule ^$ home.html [L]

  # rewrite for spa vuejs
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{HTTP_ACCEPT} text/html
  RewriteRule . /index.html [L]
</IfModule>