.dashboard .card-group .card {
  border-color: var(--color-border);
  background-color: var(--color-background-soft);
  margin: 7px;
  margin-left: 0;
  font-weight: 400;
  font-size: 0.9rem;
}
.dashboard .card-group .card:first-child{
  margin-left: 0px;
}  
.dashboard .card-group:last-child{
  margin-bottom: 50px;
}
.dashboard .modal .card-group:last-child{
  margin-bottom: 0px;
}
.dashboard .card .card-body {
  padding: 0.8rem;
  margin-bottom: 0;
  color: var(--color-text);
}
.dashboard .card-text {
  font-size: 2.25rem;
}
.card-additional {
  color: var(--color-text-light);
  text-align: right !important;
}
.dashboard .card p {
  font-size: 0.9rem;
  margin: 0 0 0.3rem;
}
.dashboard .card .header p {
  font-size: 1.4rem;
}
.dashboard .card .header .label {
  font-size: 0.7rem;
  margin: 0 0 0.3rem;
  color: var(--color-text-light);
}
.dashboard .card .label {
  font-size: 0.7rem;
  margin: 0 0 0.3rem;
  color: var(--color-text-light);
}

.custom-popover {
  --bs-popover-bg: var(--color-background);
  --bs-popover-header-bg: var(--color-background);
  --bs-popover-border-color: var(--color-popover-border);
}
.popover h3 {
  font-size: 0.8rem;
}
.popover .popover-body {
  color: var(--color-text)
}
.popover .label {
  font-size: 0.6rem;
  margin: 0 0 0.3rem;
}
.dashboard {
    width: 90%;
    margin: 0 auto auto;
}
.dashboard-tabs {
  background-color: var(--color-background);
  width: 100%;
  position: fixed;
  top: 4rem;
  z-index: 99;
}
.dashboard-tabs nav > div {
  border-bottom: 2px solid;
  border-bottom-color: var(--dashboard-nav-border);
}
.dashboard-tabs .nav-link {
  color: var(--color-text);
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}
.dashboard-tabs .nav-link:hover {
  color: var(--nav-color-active);
  text-decoration: none;
  border-bottom: 4px solid;
  margin-bottom: -3px;
  border-bottom-color: var(--dashboard-nav-border-active);
}
.dashboard-tabs .nav-link.router-link-active,
.dashboard-tabs .nav-link.router-link-exact-active {
  color: var(--nav-color-active);
  text-decoration: none;
  border-bottom-color: var(--dashboard-nav-border-active);
  border-bottom: 4px solid;
  margin-bottom: -3px;
}
.dashboard-content {
  margin-top: 4rem;
}
.dashboard a {
  text-decoration: none;
}
.dashboard-tabs .nav-link.router-link-active.overview {
  color: var(--color-text);
  border-bottom-color: var(--dashboard-nav-border);
  border-bottom: none;
}
.dashboard-tabs .nav-link.router-link-exact-active.overview {
  border-bottom-color: var(--dashboard-nav-border-active);
}
.dashboard-tabs .nav-link.router-link-active.overview:hover {
  border-bottom: 4px solid;
  margin-bottom: -3px;
  border-bottom-color: var(--dashboard-nav-border-active);
}