table.dataTable {
    border-left-style: hidden;
    border-right-style: hidden;
    color:var(--datatable-color);
    font-size: 0.9rem;
    background-color: var(--datatable-background);
}
table.dataTable th {
    background-color: var(--datatable-background);
    color: var(--datatable-header-color);
}
table.dataTable td {
    background-color: var(--datatable-background);
    color: var(--datatable-color);
}
table.dataTable th {
    padding: 3px 0 3px 12px;
    border-color: var(--datatable-border-color);
    border-top-width: 0;
    border-bottom-width: 3px;
    font-weight: 500;
}
table.dataTable td{
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: var(--datatable-border-color);
    border-style: solid;
    padding: 4px 0 3px 12px;
    border-left-style: hidden;
    border-right-style: hidden;
}

table.dataTable tr:hover > td {
    background-color: var(--datatable-background-active);
}

table.dataTable.selectable tr:hover td {
    cursor: pointer;
}

table.dataTable .description p {
    font-size: 0.9rem !important;
    margin: 0 !important;
    line-height: 1.75 !important;
}

table.dataTable .row-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

table.dataTable button.row-link {
    border-color: transparent;
    background-color: transparent;
    padding: 0;
    margin: 0;
    text-align: left;
}

.table-responsive {
    table.dataTable {
        table-layout: auto;
    }

    table.dataTable th, .table.dataTable td {
        white-space: nowrap;
    }
}