:root[data-theme="light"] {
  pre code.hljs {
    display: block;
    padding: 12px;
    line-height: 1.4;
  }

  code.hljs {
    padding: 3px 5px
  }
  pre:has(code.hljs) {
    background: #f6f8fa;
  }

  .hljs {
    color: 	#24292e;
    background: #f6f8fa;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #005cc5;
  }

  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #8250df;
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable {
    color: #116329;
  }

  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #0a3069;
  }

  .hljs-built_in,
  .hljs-symbol {
    color: #b76100;
  }

  .hljs-code,
  .hljs-comment,
  .hljs-formula {
    color: #6e7781;
  }

  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #116329;
  }

  .hljs-subst {
    color: #24292e;
  }

  .hljs-section {
    color: #0550ae;
    font-weight: 700
  }

  .hljs-bullet {
    color: #953800;
  }

  .hljs-emphasis {
    color: #24292e;
    font-style: italic;
  }

  .hljs-strong {
    color: #24292e;
    font-weight: 700;
  }

  .hljs-addition {
    color: #1a7f37;
    background-color: #d2f8d2;
  }

  .hljs-deletion {
    color: #cf222e;
    background-color: #ffeef0;
  }
}
