.home {
  max-width: 1200px;
  margin: 0 auto auto;
  font-size: 1rem;
}
.home h1 {
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 600;
}
.home h2 {
  line-height: 1.6;
}
.home h3 {
  line-height: 1.6;
  font-size: 1.5rem;
}
.home .hero-title {
  margin-top: 5rem;
}
@media only screen and (max-width: 600px)  {
    .home  .hero-title {
    margin-top: 1rem;
  }
}
.home .hero-title p {
  padding-left: 1.5rem;
}
.home .hero-title .description {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.home .hero-title img {
  max-width: 70%;
}
.home .hero-title .badge-list >:first-child {
  margin-left: 1.5rem;
}
.home .hero-title .badge-list > a{
  margin-left: 0.5rem;
}
.home .hero-title .badge {
  background-color: rgb(8, 109, 215);
  color: white;
}
.home .tab {
  max-width: 700px;
  margin: 0 auto auto;
}
.home .code-tabs {
  border: 0;
  margin-bottom: 0.2rem;
}
.home .code-tabs button {
  padding: 0.3rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-size: 1rem;
}
.home pre {
  max-width: 700px;
  margin: 0 auto auto;
  white-space: pre-wrap;
  word-break: break-all;
  border-radius: 6px;
}
@media only screen and (max-width: 600px)  {
  .home pre {
    max-width: none !important;
  }
}
.home .hero-title button {
  margin-right: 1rem;
}
.home button, .home a.btn.btn-outline-primary {
  border-color: var(--color-button-link);
  color: var(--color-button-link);
}
.home button:hover, .home a.btn.btn-outline-primary:hover {
  color: var(--color-button-text-hover);
  border-color: var( --color-button-border-hover);
  background-color: var(--color-button-link);
}
.home .hero-title button {
  margin-right: 1rem;
}
.home h2 {
  margin-top: 0;
  text-align: center;
}
.home .card {
  color: var(--color-text);
  border-color: var(--card-border);
  background-color: var(--card-background);
  margin: 7px;
}
.home .card a {
  color: var(--card-color);
  text-decoration: none;
}
.home .card:hover:has(>a) {
  border-color: var(--card-border-active);
  cursor: pointer;
}
.home .card-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--header-color)
}
.home h2.card-title {
  text-align: left;
}
.home .card a.card-link {
  color: var(--link-color);
  text-decoration: underline;
}
.home section {
  padding-bottom: 6rem;
}
@media only screen and (max-width: 600px)  {
  .home section {
    padding-bottom: 3rem;
  }
}
section.feature h2 {
  text-align: left;
}
section.feature img {
  max-width:100%;
  max-height:100%;
  cursor: pointer;
  margin: auto auto;
}
section.feature button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: var(--footer-background);
  opacity: 0.8;
  font-size: 0.9rem;
}
footer h3 {
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer ul li {
  margin-bottom: 0.5rem;
}
footer a {
  text-decoration: none;
}
.home code {
  font-size: 14px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
}