@import './vars.css';
@import 'bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import './datatable.css';
@import './tabs.css';
@import './modal.css';
@import './nav.css';

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}

main {
  margin-top: 5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-block-start: 2.5rem;
  margin-block-end: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

a {
  color: var(--color-link);
}

a:hover{
  color: var(--color-link-active);
}
pre{
  font-size: 0.9rem;
}
.yellow {
  color: var(--color-yellow)
}
.logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
