@import './vars.css';
@import 'bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import './datatable.css';
@import './tabs.css';
@import './modal.css';
@import './nav.css';
@import './home.css';
@import 'ace-mokapi.css';

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: -apple-system, "system-ui", Inter, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI emoji";
  font-size: 1.0rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

@media only screen and (max-width: 600px)  {
  body {
    font-size: 1.1rem;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

h1 {
  font-size: 2.3rem;
  font-weight: 700;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-block-start: 2.5rem;
  margin-block-end: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover{
  color: var(--color-link-active);
}
pre{
  font-size: 0.9rem;
}
.yellow {
  color: var(--color-yellow)
}
.logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-primary {
  border-color: var(--color-doc-link);
  color: var(--color-doc-link);
  background-color: rgba(0, 0, 0, 0);
}
.btn-primary:hover {
  color: var(--color-doc-text-hover);
  border-color: var( --color-doc-border-hover);
  background-color: var(--color-doc-link);
}

[data-theme="light"] .doc .content .hljs{
  background-color: var(--color-background-soft);
}

pre {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05), 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
}