.nav-link {
  color: var(--color-text);
}
.nav-link.disabled {
  color: var(--color-text);
}
.nav-link:not(.disabled):hover, .nav-link:not(.disabled):focus {
  color: var(--color-link);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--color-link);
  background-color: var(--color-background);
}