.nav-link {
  color: var(--nav-color);
}
.nav-link.disabled {
  color: var(--nav-color);
}
.nav-link:not(.disabled):hover, .nav-link:not(.disabled):focus {
  color: var(--nav-color-active);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--nav-color-active);
  background-color: var(--color-background);
}

header .navbar-collapse:not(.show) .nav-item .nav-link {
  padding-top: 7px;
  padding-bottom: 0px;
}

header .navbar-collapse.show .nav-item .nav-link {
  padding-top: 7px;
  padding-bottom: 7px;
}
header .navbar-collapse ul.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}