.nav-tabs {
    --bs-nav-tabs-border-color: var(--color-tabs-border);
}
.nav-tabs .nav-item .nav-link {
    border-color: var(--color-tabs-border);
    color: var(--color-tabs-text);
    font-size: 0.8rem;
}
.nav-tabs .nav-item .nav-link.active {
    background-color: var(--color-tabs-background);
}

.modal .tab-content {
    display: flex;
}
.modal .tab-content .tab-pane {
    display: block;
    visibility: hidden;
    margin-right: -100%;
    width: 100%;
}
.modal .tab-content > .active {
    visibility: visible;
}

.tab-sm li {
    padding-right: 0;
}
.tab-sm li:not(:first-child) {
    padding-left: 0;
}
.tab-sm li + li::before {
    padding-right: 7px;
    padding-left: 7px;
    content: " | ";
}
.tab-sm li.disabled {
    color: var(--color-text-light)
}
.nav-pills.tab-sm .nav-link.active{
    background-color: var(--color-tabs-background-mute);
}

.card-tabs button {
    font-size: 0.9rem;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--color-text);
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid transparent;

    margin-bottom: -3px;
}
.card-tabs button.active, .card-tabs button:hover {
    color: var(--link-color-active);
    border-bottom: 4px solid;
    
}
.card-tabs button.disabled {
    color: var(--color-disabled);
}
.card-tabs {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--dashboard-nav-border);
}
.tab-pane {
    padding: 0.8rem;
    padding-top: 1.6rem;
 }
 .code-tabs {
    margin-left: 5px;
 }
 .code-tabs button {
    font-size: 0.9rem;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: var(--code-tabs-color);
    background-color: transparent;
    border: 0;
    margin-right: 5px;
}
.code-tabs button.active {
    font-size: 0.9rem;
    border: 0;
    color: var(--code-tabs-color-active);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    margin-bottom: -3px;
}
.code-tabs button.active:only-child {
    border: 0;
}
.code-tabs button.disabled {
    color: var(--color-disabled);
}
.tab-content.code .tab-pane {
    padding: 0;
    margin-bottom: 4rem;
 }