.nav-tabs {
    --bs-nav-tabs-border-color: var(--color-tabs-border);
}
.nav-tabs .nav-item .nav-link {
    border-color: var(--color-tabs-border);
    color: var(--color-tabs-text);
    font-size: 0.8rem;
}
.nav-tabs .nav-item .nav-link.active {
    background-color: var(--color-tabs-background);
}

.modal .tab-content {
    display: flex;
}
.modal .tab-content .tab-pane {
    display: block;
    visibility: hidden;
    margin-right: -100%;
    width: 100%;
}
.modal .tab-content > .active {
    visibility: visible;
}

.tab-sm li {
    padding-right: 0;
}
.tab-sm li:not(:first-child) {
    padding-left: 0;
}
.tab-sm li + li::before {
    padding-right: 7px;
    padding-left: 7px;
    content: " | ";
}
.tab-sm li.disabled {
    color: var(--color-text-light)
}
.nav-pills.tab-sm .nav-link.active{
    background-color: var(--color-tabs-background-mute);
}

.card-tabs button {
    font-size: 0.9rem;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--color-text);
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid transparent;

    margin-bottom: -3px;
}
.card-tabs button.active, .card-tabs button:hover {
    color: var(--link-color-active);
    border-bottom: 4px solid;
    
}
.card-tabs button.disabled {
    color: var(--color-disabled);
}
.card-tabs {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--dashboard-nav-border);
}
.tab-pane {
    padding: 0.8rem;
    padding-top: 1.6rem;
}

.tabs {
    border: none;
    padding: 16px 0;

    .nav-tabs {
        border: none;
    }

    > .nav-tabs button {
        border: none;
        background-color: transparent;
        padding: 0 8px 4px;
    }

    > .nav-tabs button[role="tab"].active, > .nav-tabs button[role="tab"]:hover {
        border-color: var(--code-tabs-border-color-active);
        border-bottom-width: 3px;
        border-bottom-style: solid;
        margin-bottom: -3px;
    }

    > .nav-tabs .tabs-border {
        width: 100%;
        height: 2px;
        background-color: var(--tabs-border-color);
        margin: 0 auto;
    }

    .tab-content {
        margin-top: 20px;
    }

    .tab-pane {
        padding: 0;
    }
}

.code {
    background-color: var(--code-background);
    color: var(--code-color);
    border-radius: 6px;
}
.code-tabs {
    margin: 0;
    padding: 16px 16px 0;
}
.code .code-tabs button {
    font-size: 0.9rem;
    padding: 0 10px 4px;
    background-color: transparent;
    border: 0;
    z-index: 2;
    color: var(--code-tabs-color);
}
.code-tabs button[role="tab"].active, .code .code-tabs button[role="tab"]:hover {
    color: var(--code-tabs-color-active);
    border-color: var(--code-tabs-border-color-active);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    margin-bottom: -3px;
}
.code-tabs button[role="tab"].active:only-child {
    border: 0;
}
.code .code-tabs button.control {
    margin-left: auto; 
    margin-right: 0;
}
.code .code-tabs button.control:hover {
    color: var(--code-control-color-active);
}
.code .code-tabs button.control.copied {
  color: var(--bs-success);
}
.code .code-tabs button.control.copied .bi-copy::before {
  content: "\f26a"; /* bi-check */
}
.code-tabs button.disabled {
    color: var(--color-disabled);
}
.tab-content.code {
  padding: 16px;
}
.tab-content.code .tab-pane {
    padding: 0;
    margin: 0;
}
.tabs-border {
    width: 100%;
    height: 3px;
    background-color: var(--code-tabs-border-color);
    margin: 0 auto;
}