:root{
    --color-background: #323743;
    --color-background-mute:  #2e2e31;
    --color-background-soft: #282b33;
    --color-background-light: #393a40;

    --color-border: #282b33;

    --color-red: #ff2e4a;
    --color-red-shadow: rgba(255, 46, 74, 0.4);
    --color-blue: #027bff;
    --color-blue-shadow: rgba(2, 123, 255, 0.4);
    --color-orange: #ffc347;
    --color-orange-shadow: rgba(255, 195, 71, 0.4);
    --color-green: #30a72d;
    --color-green-shadow: rgba(48, 167, 45, 0.4);
    --color-yellow: #eab839;
    --color-yellow-shadow: rgba(234, 184, 57, 0.4);
    --color-purple: #b644a4;
    --color-purpl-shadowe: rgba(182, 68, 164, 0.4);
    --color-blue-cold: #eabaabff;

    --color-brand: #d3d4d5;
    --color-brand-hover: #eabaabff;

    --color-header-link: rgb(211, 212, 213);
    --color-header-link-active: #eabaabff;

    --color-link: #eabaabff;
    --color-link-active: #a5899fff;

    --color-doc-link: #eabaabff;
    --color-doc-link-active: #a5899fff;
    --color-doc-text-hover: #353e5bff;
    --color-doc-border-hover: #a5899fff;

    --color-button-link: #eabaabff;
    --color-button-link-active: #a5899fff;
    --color-button-text-hover: #353e5bff;
    --color-button-border-hover: #a5899fff;

    --color-nav-link: #d3d4d5;
    --color-nav-link-active: #eabaabff;
    --shadow-nav-link-active: var(--color-nav-link-active) 1px 0px 10px;

    --color-text: #d3d4d5;
    --color-text-light: #a0a1a7;

    --color-disabled: #a0a1a7;

    --color-datatable-header-text: #eabaabff;
    --color-datatable-border: #52555d;

    --color-tabs-border: #52555d;
    --color-tabs-background: #3a3e45;
    --color-tabs-text: #eabaabff;

    --color-popover-border: #52555d;
}

[data-theme="light"] {
    --color-background: #fff;
    --color-background-mute: #dfe2ec;
    --color-background-soft: #f6f8fcff;
    --color-background-light: #dfe2ec;
    --color-border: #f6f8fcff;

    --color-blue-cold: #cb8080;

    --color-header-link: rgb(3,6,11);
    --color-header-link-active: #eabaabff;

    --color-text: rgb(3,6,11);
    --color-link: #cb8080;
    --color-link-active: #b54a4a;
    --color-nav-link: #494c68ff;
    --color-nav-link-active: #cb8080;
    --shadow-nav-link-active: var(--color-header-link-active) 1px 0px 10px;

    --color-doc-link: #cb8080;
    --color-doc-link-active: #b54a4a;
    --color-doc-text-hover: #b54a4a;
    --color-doc-border-hover: rgb(22, 19, 21);

    --color-button-link: #cb8080;
    --color-button-link-active: #cb8080;
    --color-button-text-hover: #fff;
    --color-button-border-hover: #cb8080;

    --color-tabs-background: #FFF;

    --color-datatable-header-text: #cb8080;
    --color-datatable-border: #bbbdc3;
}