:root{
    --color-background: #323743;
    --color-background-mute:  #2e2e31;
    --color-background-soft: #282b33;

    --color-border: #282b33;

    --color-red: #ff2e4a;
    --color-red-shadow: rgba(255, 46, 74, 0.4);
    --color-blue: #027bff;
    --color-blue-shadow: rgba(2, 123, 255, 0.4);
    --color-orange: #ffc347;
    --color-orange-shadow: rgba(255, 195, 71, 0.4);
    --color-green: #30a72d;
    --color-green-shadow: rgba(48, 167, 45, 0.4);
    --color-yellow: #eab839;
    --color-yellow-shadow: rgba(234, 184, 57, 0.4);
    --color-purple: #b644a4;
    --color-purpl-shadowe: rgba(182, 68, 164, 0.4);
    --color-blue-cold: #30acd8;

    --color-brand: #d3d4d5;
    --color-brand-hover: #d3d4d5;

    --color-link: #d3d4d5;
    --color-link-active: #30acd8;

    --color-nav-link: #d3d4d5;
    --color-nav-link-active: #30acd8;
    --shadow-nav-link-active: var(--color-nav-link-active) 1px 0px 10px;

    --color-text: #d3d4d5;
    --color-text-light: #a0a1a7;
    --color-version: #52555d;

    --color-datatable-header-text: #30acd8;
    --color-datatable-border: #52555d;

    --color-tabs-border: #52555d;
    --color-tabs-background: #3a3e45;
    --color-tabs-text: #30acd8;

    --color-popover-border: #52555d;
}

@media (prefers-color-scheme: light) or (data-theme: light) {
    :root{
        --color-background: #fff;
        --color-background-mute: #e6e6e6;
        --color-background-soft: #f8f8f8;
        --color-border: #f8f8f8;

        --color-text: #000;
        --color-link: #000;
        --color-nav-link: #000;
        --shadow-nav-link-active: var(--color-nav-link-active) 1px 0px 10px;

        --color-tabs-background: #f8f8f8;

        --color-datatable-border: #bbbdc3;
    }
}

[data-theme="light"] {
    --color-background: #F7F8FD;
    --color-background-mute: #b2d7ed;
    --color-background-soft: #edf1f2;
    --color-border: #f8f8f8;

    --color-text: #000;
    --color-link: #000;
    --color-nav-link: #000;
    --shadow-nav-link-active: var(--color-nav-link-active) 1px 0px 10px;

    --color-tabs-background: #FFF;

    --color-datatable-border: #bbbdc3;

    --color-version: #d3d4d5;
    
}